<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiceRoll"
        tools:targetApi="31"
        android:name=".DiceRollApplication"
        >
        <activity
            android:name=".intentplayground.ActivityThatReceivesExtras"
            android:exported="false"
            android:label="@string/title_activity_that_receives_extras"
            android:theme="@style/Theme.DiceRoll" />
        <activity
            android:name=".screens.about.AboutActivity"
            android:exported="true"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.DiceRoll">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.pdmisel.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DiceRoll">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>